<div class="row">
  <div class="col-md-12 text-center">
    <h3>Sign In</h3>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-3">
    <label>Username: </label>
  </div>
  <div class="col-md-5">
    <input type="text" class="form-control" placeholder="Username"/>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-3">
    <label>Password: </label>
  </div>
  <div class="col-md-5">
    <input type="password" class="form-control" placeholder="Password"/>
  </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        <button type="submit" class="button btn">Sign In</button>
    </div>
  </div>
