<form [formGroup]="productAddForm" (ngSubmit)="addProduct()">
  <div class="row form-group">
      <div class="col-md-3">
          <label>Name: </label>
        </div>
    <div class="col-md-5">
      <input type="text" class="form-control" formControlName="name" placeholder="Name" />
    </div>
  </div>
  <div class="row form-group">
      <div class="col-md-3">
          <label>Color: </label>
        </div>
    <div class="col-md-5">
      <input type="text" class="form-control" formControlName="color" placeholder="Color" />
    </div>
  </div>
  <button class="button btn" type="submit">Add Item</button>
</form>